/* 

color: red;
color: blue;
color: green;
color: lightgray;
color: darkorange; */

h1 {
  color: darkblue;
}

______________________________________
*hexadecimal colour

/* color: #FF0000; /* red */
color: #00FF00; /* green */
color: #0000FF; /* blue */
color: #333;    /* shorthand for #333333 */ */

__________________________________________

* RGB (Red, Green, Blue)
Each value is from 0 to 255:

/* color: rgb(255, 0, 0); /* red */
color: rgb(0, 128, 0); /* green */
color: rgb(0, 0, 255); /* blue */ */

_________________________________________

*RGBA (RGB + Alpha for opacity)

/* color: rgba(255, 0, 0, 0.5); /* semi-transparent red */ */
